<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
<h1>My recipe :)</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Prep time</th>
        <th>Cook time</th>
        <th>Difficulty</th>
        <th>Directions</th>
    </tr>

    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">123</td>
        <td th:text="${recipe.description}">Some description</td>
        <td th:text="${recipe.prepTime}">12</td>
        <td th:text="${recipe.cookTime}">13</td>
        <td th:text="${recipe.difficulty}">Easy</td>
        <td th:text="${recipe.directions}">Do... Chop etc.</td>
    </tr>
</table>
</body>
</html>